<!-- Just an image -->
<nav class="navbar navbar-dark " style = "background-color: orange; width: 100%">

    <div class = "container">

        <a class="navbar-brand font-weight-bold" href="{% url 'homepage' %}">
                Accueil
        </a>

        <a class="mx-auto navbar-brand font-weight-bold"  style="width: 200px;" href="{% url 'ml_app-index' %}">
            Prédiction basée sur un apprentissage supervisé
        </a>


        <a class="navbar-brand ml-auto font-weight-bold" href="{% url 'ml_app-predictions' %}">
                Accéder à tous les prédictions
        </a>

    </div>


</nav>